#all{
	
	width: 50%;
    /* margin-bottom: 5px; */
    /* text-align: left; */
    padding: 0px;
    position: relative; 
	top: 55px; 
	left:15%;
	display: inline-block;
}


#likes{
	height:5px;
	width:50%;
	background:#0000ee;
	float:left;
}
#dislikes{
	height:5px;
	width:50%;
	background:rgb(230, 11, 11);
	float:right;
}
#like1,#like2,#like3,#like4,#like5,#like6,#like7,#like8,#like9{
	margin-left: 8%;
    padding:3%;
    margin-right: 4%;
    
    display: inline-block;
}
#dislike1,#dislike2,#dislike3,#dislike4,#dislike5,#dislike6,#dislike7,#dislike8,#dislike9
{

	display:inline-block;
	margin-left: 8%;
    padding:3%;
    margin-right: 4%;
	
}

#bar{
	position: relative;
	margin-left: 2px;
	left: 0px;
	width:60%;
	
	
}
#all1{
	
    width: 50%;
    /* margin-bottom: 5px; */
    /* text-align: left; */
    padding: 11px;
	position: relative;
	/*top:-58px;*/
    bottom: 40px;
    left: 50%;
    display: inline-block;
	
	
}
#likes1{
	height:5px;
	width:50%;
	background:#0000ee;
	float:left;
}
#dislikes1{
	height:5px;
	width:50%;
	background:rgb(230, 11, 11);
	float:right;
}
 #likeButton1{
	margin-left: 8%;
  
    margin-right: 8%;
    padding:3%;
    display: inline-block;
}
 #dislikeButton1
{
	display:inline-block;
	margin-left: 8%;
  
    margin-right:8%;
    padding: 3%;
}

#bar1{
	position: relative;
	margin-left: 2px;
	left: 0px;
	width:60%;
	
	

}
.aspect{
	padding: 37px;
	width: 100%;

	text-align: center;
	color: cornflowerblue;
	
}
