/* css for nav-bar */
.nav-container{
    display:flex;
    justify-content: space-around;
    /* border:2px solid purple; */
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    align-items: center;
    padding: 2em 0;
    position: sticky;
    top: 0;
}
.heading{
    /* border:2px solid green; */
    color: aliceblue;
    font-size: 1.3rem;
    padding: 1.0em 1em;
    text-align: center;
}

.nav-links{
    /* border:2px solid red; */
    font-size: 0.8rem;
}
 

nav ul{
    padding:0px 0px;
   display: flex ;
}
nav li{
    /* border:1px dotted magenta; */
   
    list-style: none;
    padding: 11px 3px;
    border-radius: 3px;
    
}
nav a{
    
    margin: 0 19px;
    text-decoration: none;
    color: aliceblue;
    white-space: nowrap;
}
.burger{
    
    display: none;
    /* position: absolute; */
    /* border: 2px solid red; */

    right: 21px;
    top: 51px;
  }
  .topnav-icon{
    background-color: white;
    width: 33px;
    height: 4px;
    margin:5px 3px;
  }
nav li:hover{
    background-color: #fff;
    color:black;
    
}
nav li:hover a { 
    color:inherit;
  
}
@media (max-width:675px){
.nav-container{
    flex-direction: column;
    align-items: flex-start;
    
}
nav ul{
    flex-direction: column;
    
}
.heading{
    text-align: center;
    
}
nav ul{
 display: none;
 text-align: center;

}
.nav-links{
    width:100%;
}
.burger{
    display: flex;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 0 1.1em;
    
}
.res-block
{
    /* border:2px solid blue; */
    display:flex;
    justify-content: space-between;
    width:100%

}
.topnav-icon{
    align-items: center;
}
}

@media (min-width:675px){
    nav ul{
        display: flex !important;
    }
}
























.article-module--container--BVGog.base-module--container--3oWdy
{font-size: 16px;
font-family: Rubik,sans-serif;
box-sizing: inherit;
max-width: 73em;
margin: auto;
text-align: center;
padding: 3.125rem 1.56rem;
}

.article-module--content--2QXHq
{

    font-size: 16px;
    font-family: Rubik,sans-serif;
    box-sizing: inherit;
    padding: 0;
    max-width: 62rem;
    margin: auto;
    text-align: left;
}
.article-module--content--2QXHq h1 
{
font-family: Rubik,sans-serif;
box-sizing: inherit;
color: #2b3e51;
font-weight: 400;
padding: 0;
font-size: 1.25rem;
margin: 1em 0;
text-align: center;
}
.article-module--content--2QXHq h1, .article-module--content--2QXHq h2 {
    font-size: 2.25rem;
    margin: 1em 0;
}
.article-module--content--2QXHq h3 {
    font-size: 1.75rem;
}

.article-module--content--2QXHq h4 {
    font-size: 1.375rem;
}
.article-module--content--2QXHq a {
    color: #008bff;
}

.article-module--content--2QXHq ol, .article-module--content--2QXHq p, .article-module--content--2QXHq table, .article-module--content--2QXHq ul {
    font-family: Open Sans,sans-serif;
    color: #2b3e51;
    font-size: 1.125rem;
    line-height: 1.89;
    margin-bottom: 1.35rem;
}