/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #404042;
  background-color: #ffffff;
}
table{
  border-collapse:collapse;
  border: 2px solid black;
}
td{
  border:1px solid black;
  padding: 2%;
  text-align: center;
  vertical-align: middle;
}
th{
  border:1px solid black;
  padding: 2%;
  background-color: #ddd;
  text-align: center;
  vertical-align: middle;
}

table.x{
  table-layout:fixed;
  width:100%;
}
.containertable{
  padding: 0% 6%;
}

a {
  color: #9dc997;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 4em 5%;
}
@media only screen and (min-width: 1170px) {
  h1 {
    font-size: 4rem;
    font-weight: 300;
    padding: 3em 5%;
  }
}
.modal-body hr
{
  height:1px;
  border-width:0;
  color:#335674;
  background-color:#335674;

}
